extends ../layout

block content
  div(id="main-view" class="container-fluid")
    include ../includes/header.pug
    include ../includes/navbar.pug
    div(class="row")
      div(class="col-md-10 mg-rl-auto create-post")
        h3 Sửa bài viết
        - var updatedPath = "/admin/update/" + post.id
        form(action=updatedPath, method="post")
          label(for="title") Title
            span *
          div(class="form-group")
            input(type="text", class="form-control", id="title", name="title",
              aria-describedby="title", value=post.title,  required)
          label(for="topic") Topic
          div(class="form-group")
            select(class="form-control", id="topic", name="topic",
              aria-describedby="topic")
              each topic in topicOptions
                if !topic
                  option(value='') ---
                else
                  if topic.id === post.topicId
                    option(value=topic.id, selected)=topic.label
                  else
                    option(value=topic.id)=topic.label
          label(for="short-content") Short Content *
          div(class="form-group mb-3")
            textarea(class="form-control", cols="30", id="short-content", name="shortContent", required)
            script.
              var shortContent = !{JSON.stringify(post.shortContent)};
              document.getElementById('short-content').innerHTML = shortContent
          label(for="content") Content *      
          div(class="form-group mb-3")
              textarea(class="form-control", cols="30", id="content", name="content", required)
          div(class="form-group mb-3")
            button(type="submit", class="btn btn-primary") Submit
            button(type="button", class="btn btn-secondary btn-reset") Reset
            button(type="button", class="btn btn-secondary btn-cancel") Cancel
          script(src="/javascripts/ckeditor/ckeditor.js")
          script(src="/javascripts/ckeditor4-integrate.js")
          script.
            var content = !{JSON.stringify(post.content)};
            CKEDITOR.instances['content'].setData(content, function() {
              console.log('bind data');
            });
    include ../includes/footer.pug