header(id="header", class="row")
  div(class="header-menu")
    div(class="menu-nav")
      a(href="#", class="navbar-btn")
        span: i(class="bi bi-justify")
      div(class="row side-navbar")
        if userDetail && userDetail.username
          div(class="dropdown")
            button(class="btn btn-link dropdown-toggle", type="button", 
                id="dropdownMenuButton", data-toggle="dropdown", 
                aria-haspopup="true", aria-expanded="false")
              i(class="bi bi-person-circle") 
              =userDetail.username
            ul(class="dropdown-menu dropdown-menu-right", aria-labelledby="dropdownMenuButton")
              li: a(class="dropdown-item" href="/admin/create")
                i(class="bi bi-file-plus") 
                | Đăng bài viết
              li: a(class="dropdown-item" href="/logout")
                i(class="bi bi-box-arrow-right") 
                | Đăng xuất
        each topic in topics
          div(class="navbar-item")
            if selectedTopic && selectedTopic.name === topic.name
              a(class="active", href=topic.path)=topic.label
            else
              a(class="", href=topic.path)=topic.label  
    div(class="logo-nav")
      a(class="home-link", href="/")
        div(class="logo")
          img(class="logo", src="../images/cono_3.png", alt="")
      if userDetail && userDetail.username
        div(class="dropdown user-menu-desktop")
          button(class="btn btn-link dropdown-toggle", type="button", 
              id="dropdownMenuButton", data-toggle="dropdown", 
              aria-haspopup="true", aria-expanded="false")
            i(class="bi bi-person-circle") 
            =userDetail.username
          ul(class="dropdown-menu dropdown-menu-right", aria-labelledby="dropdownMenuButton")
            li: a(class="dropdown-item" href="/admin/create")
              i(class="bi bi-file-plus") 
              | Đăng bài viết
            li: a(class="dropdown-item" href="/logout")
              i(class="bi bi-box-arrow-right") 
              | Đăng xuất
      form(class="input-group search-form-desktop")
        input(id="keyword", type="text", placeholder="Nhập từ khóa ...", class="form-control", name="keyword", aria-describedby="basic-addon3")
        span: i(class="bi bi-search")
    div(class="search-field")
      a(href="#", class="search-btn")
        span: i(class="bi bi-search")
  form(class="input-group search-form")
    input(id="keyword", type="text", placeholder="Nhập từ khóa ...", class="form-control", name="keyword", aria-describedby="basic-addon3")
    