extends layout

block content
  div(id="main-view" class="container-fluid")
    include includes/header.pug
    include includes/navbar.pug
    div(class="row")
      div(class="col-md-10 pd-15 pd-r-2r mg-rl-auto")
        div(class="article-post")
          if selectedTopic
            h3=selectedTopic.label
          each post in posts
            h6(class="post-item mg-b-1r")
              div(class="defined-title")
                if userDetail
                  - var updatedPath = "/admin/update?postId=" + post.id
                  a(href=updatedPath, class="btn btn-edit")
                    i(class="bi bi-pencil-fill")
                  - var delPath = "/admin/delete/" + post.id
                  form(action=delPath, method='post',
                    onSubmit="return confirm('Confirm to delete')")
                    button(class="btn btn-delete", type="submit")
                      i(class="bi bi-trash")
                div(class="link-post-detail")
                  span
                    if post.topic
                      - var path = post.topic.name + '/' + post.referenceTitle
                      a(href=path)=post.title
                    else
                      - var path = '/default/' + post.referenceTitle
                      a(href=path)=post.title
              div(class="published-info")
                |Ngày đăng: 
                span #{post.createdDate}
                |, đăng bởi: Cono
    include includes/footer.pug